html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #212121;
}

label,
input,
textarea,
select,
option {
  font-family: inherit;
}

a {
  color: inherit;
}

a:focus {
  outline: 1px dotted rgba(63, 62, 56, 1);
}

p {
  margin: 0 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin: 0 0 1.45rem;
  padding: 0;
}

h1 {
  font-size: 2.25em;
}
h2 {
  font-size: 1.62671em;
}
h3 {
  font-size: 1.38316em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.85028em;
}
h6 {
  font-size: 0.78405em;
}

figure {
  margin: 1.25em 0;
}

img {
  max-width: 100%;
}

@media only screen and (min-width: 30em) {
  html {
    font-size: 112.5%;
  }
}

@media only screen and (min-width: 64em) {
  html {
    font-size: 125%;
  }
}
